.header {
	max-width: 310px;
}


.header-flex {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.menu-burger {
	position: relative;
	width: 19px;
	height: 2px;
	background-color: #5BC1CF;
}
.menu-burger::before,
.menu-burger::after {
	content: "";
	position: absolute;
	width: 19px;
	height: 2px;
	background-color: #5BC1CF;
}
.menu-burger::before {
	top: 5px;
}
.menu-burger::after {
	top: -5px;
}
.head__search-adress {	
	margin: 0 0 0 0;
	border-radius: 30px;
	background-color: #5BC1CF;		
	transition: all 0.8s ease 0s;
}

.search-adress::-webkit-input-placeholder {color:#fff; font-size: 12px; text-align: center; line-height: 15.84px;}
.search-adress::-moz-placeholder          {color:#fff; font-size: 12px; text-align: center; line-height: 15.84px;}/* Firefox 19+ */
.search-adress:-moz-placeholder           {color:#fff; font-size: 12px; text-align: center; line-height: 15.84px;}/* Firefox 18- */
.search-adress:-ms-input-placeholder      {color:#fff; font-size: 12px; text-align: center; line-height: 15.84px;}

.search-adress {
	width: 190px;	
	height: 23px;
	padding: 4px 45px;
	background: url('../images/icon/point-white.svg') 33px center / 14px 17.11px no-repeat;
}
.head__search-adress:hover {
	box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1); 
	position: relative;
	top: 2px;
	transform: scale(2.2);
	transition: transform .4s;
}
.header__clock {
	margin: 0;
}

.category-container { 
	width: 350px;
}
.category .slick-arrow {
	position: absolute;
	top: -10%; 
	z-index: 10;
	font-size: 0;
}
.category .slick-arrow::before {
	content: "";
	position: absolute;
	top: -5px;
	left: 0;
	width: 58px;
	height: 58px;	
	border-radius: 50%;
	padding: 8px 12px;
	z-index: 8;
}

.category .slick-arrow.slick-prev {
	left: 0;	
}
.category .slick-arrow.slick-prev::before {
	background: rgba(227, 227, 227, 0.5) url('../images/icon/arrow-black-prev.svg') center / 16px 24px no-repeat;
}
.category .slick-arrow.slick-next {
	right: 57px;
}
.category .slick-arrow.slick-next::before {
	background: rgba(227, 227, 227, 0.5) url('../images/icon/arrow-black-next.svg') center / 16px 24px no-repeat;
}


.main {
	width: 330px;	
	margin: 0 auto;
	display: flex;
	flex-direction: column;  
}

.banner {
	max-width: 310px;
	margin: 0;
	padding: 0;
}
.banner__category {
   padding: 9px 11px 0;
}
.banner__category a {	
	font-size: 6px;	
}
.category__boosik {
margin-right: 4px;
}
.category__boosik::after {
	top: 8px;
   left: 19px;
	width: 1px;
	height: 1px;
	
}
.main-title {	
	width: 158px;
	font-size: 14px;
	font-weight: 700;
	margin: 11px 100px 36px 9px;
	line-height: 20.16px; 
}
.search-container{	
	margin: 15px auto 0;
}
.search {	
	padding: 9px 35px 9px;
	background: url('../images/icon/search-glass.svg') 11px 8px / 17px 17px no-repeat;
	border-radius: 30px;
	border: 1px solid rgba(197,197,196,0.5);
}
.search::-webkit-input-placeholder {color:#E3E3E3; font-size: 14px; padding-left: 43pxpx; line-height: 18.48px;}
.search::-moz-placeholder          {color:#E3E3E3; font-size: 14px; padding-left: 43pxpx; line-height: 18.48px;}/* Firefox 19+ */
.search:-moz-placeholder           {color:#E3E3E3; font-size: 14px; padding-left: 43pxpx; line-height: 18.48px;}/* Firefox 18- */
.search:-ms-input-placeholder      {color:#E3E3E3; font-size: 14px; padding-left: 43pxpx; line-height: 18.48px;}

.slider-container, 
.happy-clock {
	width: 360px;
	height: 270px;
	margin: 8px auto 0;
	padding: 0;
	background-color: #fff;
}

.slider {
	padding: 0;
	margin-top: 8px;		
}
.slider__title {
	font-size: 18px;
}
.slider .slick-arrow, .category .slick-arrow,
.slider .slick-arrow::before, .category .slick-arrow::before {
	display: none;
}
.slider__item {
	max-width: 242px;
}
.slider-card {
	width: 242px;
	position: relative;
}

.slider-card img {	
	max-width: 100%;	
}
.distance {
    position: absolute;
    right: 4px;
    top: 131px;
    z-index: 4;
    color: #5BC1CF;
 }

.category-container {
	margin-top: 15px;
}
.category {
	width: 320px;
  	margin-top: 0;
   padding: 0;	
}

.category .slider-cathegory__item {	
	padding: 13px 13px;	
	font-size: 12.19px;
	margin-left: 8px; 
}

.restorans-container {
	width: 360px;
} 
.restorans-title {
	margin-top: 7px;
	margin-left: 12px;
	font-size: 18px;
	text-align: left;
}
.restorans-cards {
	margin-top: 3px;
   padding: 5px;
}
.restorans-card {
	width: 303px;
	margin-bottom: 20px;	
}

.restorans__button {
	width: 303px;
	margin: 39px 0 0 0;
	padding: 15px;
}
.restorans__button-text {
	font-size: 14px;		
}
.delivery {
	margin-top: 26px;
	width: 303px;
	margin-right: 0;
	padding: 0 11px;
}
.delivery p {
	font-size: 16px;
	width: 298px;
}

.footer-container {
	margin-top: 24px;
	padding-top: 13px;
	padding-bottom: 15px;
}
.footer {
	width: 310px;	
	padding: 0 0 0 15px;
}
.footer__logo {
	margin-top: 20px;
}
.footer__logo img{
	width: 105px;
	height: 30px;
}
.footer-town__colomns {
	display: block;
	margin-top: 26px;
}
.footer-town__colomn { 
	padding-left: 88px;
	padding-bottom: 48px;
}
.footer-tit {
	margin-left: -88px;
}
.footer-town__colomn.colomn-last{
	display: flex;
	padding-left: 0;	
}
.footer-town__colomn:last-child {
	width: 295px;
	padding-bottom: 13px;
	margin-left: -6px;
}

.footer-butss {
	display: flex;
	justify-content: space-between;
	margin: 11px 0 18px 0;
}
.footer-butss.Google_play,
.footer-butss.App_Store {
	margin: 0;
	padding: 0;
}

.footer-butss.Google_play img,
.footer-butss.App_Store img {
	width: 144.07px;
	height: 47px;
}
.footer-butss.Google_play a,
.footer-butss.App_Store a {
	width: 144.07px;
	height: 47px;
}


.copyright {
	padding: 24px 0;
}